<server_config>
  <plugins>

    <plugin
      entity_name="*"
      entity_type="world"
      name="gz::sim::systems::Physics"
      filename="gz-sim-physics-system">
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      name="gz::sim::systems::UserCommands" 
      filename="gz-sim-user-commands-system">
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      name="gz::sim::systems::SceneBroadcaster" 
      filename="gz-sim-scene-broadcaster-system">
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      name="gz::sim::systems::Contact" 
      filename="gz-sim-contact-system">
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      name="test_plugin::TestPlugin"
      filename="/home/tuomo/Documents/Gazebo/TestProject/Plugins/TestPlugin/lib/libtestplugin.so"> <!-- CHANGE ME -->
    </plugin>

    <plugin
      entity_name="*"
      entity_type="world"
      name="packet_handler::PacketHandlerPlugin"
      filename="/home/tuomo/Documents/Gazebo/TestProject/Plugins/PacketHandlerPlugin/lib/libpackethandlerplugin.so"> <!-- CHANGE ME -->
    </plugin>

  </plugins>
</server_config>